.graph-container aside {
  background: #f5f5f5;
  font-size: 12px;
  width: 250px;
  padding: 0px;
}

/* 浮动样式 */
.graph-container aside.floating {
  position: fixed;
  right: 16px;
  top: 60px;
  z-index: 10;
  border-left: 1px solid #eee;
  height: calc(100vh - 300px);
  overflow-y: hidden;
  border-radius: 10px;
  background: #fff;
}

.graph-container aside .description {
  margin-bottom: 10px;
}

.dndnode {
  height: 20px;
  padding: 4px;
  border: 1px solid #1a192b;
  border-radius: 2px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: grab;
}

.dndnode.input {
  border-color: #0041d0;
}

.dndnode.output {
  border-color: #ff0072;
}